/*
* {
    magin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-image: url('../img/FondoUPN.jpg');
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
}

a{
    text-decoration: none;
    color: #fff;
}

.btn-menu {
    display: block;
    padding: 20px;
    background: #FDEE00;
    color: #494949;
    border-style: solid;
    border-width: 2px;
    border-color: #424242;
}

.btn-menu .icono{
    float: right;
}

.contenedor-menu{
    width: 20%;
    min-width: 300px;
    margin: 20px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
}

.contenedor-menu .menu{
    width: 100%;
}

.contenedor-menu ul{
    list-style: none;
    border-style: solid;
    border-width: 2px;
    border-color: #424242;
}

.contenedor-menu .menu li a{
    color: #494949;
    display: block;
    padding: 15px 20px;
    background: #e9e9e9;
}

.contenedor-menu .menu li a:hover{
    background: #1a95d5;
    color: #fff;
}

.contenedor-menu .menu .icono{
    font-size: 12px;
    line-height: 16px;
}

.contenedor-menu .menu .icono.izquierda{
    float: left;
    margin-right: 10px;
}

.contenedor-menu .menu .icono.derecha{
    float: right;
    margin-left: 10px;
}

.contenedor-menu .menu ul{
    display: none;
}

.contenedor-menu .menu ul li a {
    background: #424242;
    color: #e9e9e9;
}

.contenedor-menu .menu .activado > a {
    background: #1a95d5;
    color: #fff;
}

@media screen and (max-width: 450px){
    body{
        padding-top: 80px;
    }

    .contenedor-menu{
        margin: 0;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    .btn-menu{
        display: block;
    }

    .contenedor-menu .menu{
        display: none;
    }
}
*/

.sidebar {
    background: #424242;
    color: #FFF;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    top: 100px;
}

.botones {
    list-style: none;
    padding: 0;
}

.botones a li {
    padding: 5px;
    margin: 0 0 1px 0;
}

.botones a {
    color: #FFF;
    text-decoration: none;
}